@charset "UTF-8";
/* CSS Document */

body{
background:#00b0cf;	
color:#808080;
font-family:helvetica, arial, san-serif;
font-size:medium;
}

a:link{
	color:#ba0030;
	}
a:visited{
	color:#990026;}
a:hover{
	color:#ff0040;
	}
a:active{
	color:#ff0040;
	}
	
h1{
background:#4DC8DD;
width:400px;
padding:9px 5px 7px 15px;
color:#fff;
margin:5px -10px; 
}

p{
	text-indent:10px;
	line-height: 28px;
}

footer p{
	color:#fff;
	}
	

/*******************navigation***************/	
nav a:link, nav a:visited{
	color: #00B0CF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000000;
	display:block;
	padding:15px;
	}
	
nav a:hover, nav a:active{
	color:#fff;
	text-decoration:none;
	}
	

nav .current a{
	 color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
	}

nav ul{
margin:30px 0;
padding:0;
width:295px;
float:left;
}	
	
nav li{
	list-style:none;
	background:#007b90;
margin:5px 0;
border-radius:10px;
	}
	
nav li.current{
	background: url("imgs/nav_note.png") no-repeat scroll 95% 5px #007b90;
	}						

#wrapper{
	width:100%;
	max-width:960px;
	margin:0 auto;
	}
	
#content{
	background:#fff;
	border:5px solid #4DC8DD;
	padding:10px;
	width:600px;
	float:right;
	margin:35px 0;
	}
	
	
	
	
	/*
#socialMedia{
	text-align:right;
	margin:0 auto;
	width:296px;
	background: url("imgs/music_bar_bg.png") no-repeat scroll 50% 50% transparent;
	height:116px;
	padding: 10px 0;
	}	
	
#socialFb{
	 display: inline-block;
	 	height:116px;
	}

#socialFb img{
	 padding: 15px 0 18px;}	

#socialTwitter{
	 display: inline-block;
	 	height:116px;
		}
	 
	 #socialTwitter img{}

#socialYoutube{
	 display: inline-block;
	 	height:116px;}	
	 
	 #socialYoutube img{
		   padding: 10px 0;}
		   
		   */