<h1>About Me</h1>
<article class="withAside">
  <p>
    <img class="content-image" src="images/homepage_photo.jpg" alt="First Key Creations"/>Justin Rayna was born in Grand Prairie, TX on March 24, 1982. His love for music developed when he got his first drum set at age 11. A few years later, Justin began teaching himself to play the piano and quickly involved himself in music ensembles throughout high school and college. As a drummer, much of Justin’s music is highly rhythmic and very energetic. Of course, he has his gentler, more relaxed side as well; notable in some of his contemporary piano solos. Justin is currently finishing his degree in Music Theory and Composition, and his works have been performed by several ensembles at the University of Tennessee, including the UT Studio Orchestra, Percussion Ensemble, and Jazz Big Band.
  </p>
  <p>
    Justin not only composes scores for instrumentalists, he also records and mixes his own works for parties seeking original music. His compositions   have been used in gymnastics, dance, plays, church productions, even weddings!
  </p>
  <p>
    Drawing on a throng
    of influences, Justin’s music has been compared to that of David Lanz, John Tesh, Yanni, Israel Houghton, Drum Corps International, Cirque du Soleil and more. Of course Justin brings to his music an inventive fusion that creates a voice truly imaginative.
  </p>
</article>
<%= render "our_story_subnav" %>