<style>
li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
</style>
<h1>Dance Style Demos</h1>
<img class="box-art" alt="Dance Music Cover Art" src="/images/dance_music_cover.jpg" />
<audio preload="" src="/dance_music/01 - Urban-HipHop 1.mp3"></audio>
<ol class="playlist">
  <li class="playing"><a href="#" data-src="/dance_music/01 - Urban-HipHop 1.mp3">Urban HipHop 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/02 - Urban-HipHop 2.mp3">Urban HipHop 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/03 - Urban-HipHop 3.mp3">Urban HipHop 3</a></li>
  <li class=""><a href="#" data-src="/dance_music/04 - Urban-HipHop 4.mp3">Urban HipHop 4</a></li>

  <li class=""><a href="#" data-src="/dance_music/05 - Percussive 1.mp3">Percussive 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/06 - Percussive 2.mp3">Percussive 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/07 - Funky 1.mp3">Funky 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/08 - Funky 2.mp3">Funky 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/09 - Funky 3.mp3">Funky 3</a></li>
  <li class=""><a href="#" data-src="/dance_music/10 - Jazz-Funk 1.mp3">Jazz Funk 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/11 - Latin Jazz 1.mp3">Latin Jazz 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/12 - Latin-Fusion 1.mp3">Latin Fusion 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/13 - Latin-Fusion 2.mp3">Latin Fusion 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/14 - Latin Jazz (Bossa).mp3">Latin Jazz (Bossa)</a></li>
  <li class=""><a href="#" data-src="/dance_music/15 - Latin Jazz (Songo).mp3">Latin Jazz (Songo)</a></li>
  <li class=""><a href="#" data-src="/dance_music/16 - Latin (Tango).mp3">Latin (Tango)</a></li>
  <li class=""><a href="#" data-src="/dance_music/17 - Jazz-Rock Orchestra.mp3">Jazz-Rock Orchestra</a></li>
  <li class=""><a href="#" data-src="/dance_music/18 - Modern 1.mp3">Modern 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/19 - Modern 2.mp3">Modern 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/20 - Smooth Jazz 1.mp3">Smooth Jazz 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/21 - Techno 1.mp3">Techno 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/22 - Techno 2.mp3">Techno 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/23 - Techno 3 - Techno Rock.mp3">Techno 3 - Techno Rock</a></li>
  <li class=""><a href="#" data-src="/dance_music/24 - Contemporary 1.mp3">Contemporary 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/25 - Contemporary 2.mp3">Contemporary 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/26 - Contemporary 3.mp3">Contemporary 3</a></li>
  <li class=""><a href="#" data-src="/dance_music/27 - Contemporary 4.mp3">Contemporary 4</a></li>
  <li class=""><a href="#" data-src="/dance_music/28 - Lyrical.mp3">Lyrical</a></li>
  <li class=""><a href="#" data-src="/dance_music/29 - Musical (Orchestral).mp3">Musical (Orchestral)</a></li>
  <li class=""><a href="#" data-src="/dance_music/30 - Orchestral 1.mp3">Orchestral 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/31 - Orchestral 2.mp3">Orchestral 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/32 - Solo Piano 1.mp3">Solo Piano 1</a></li>
  <li class=""><a href="#" data-src="/dance_music/33 - Solo Piano 2.mp3">Solo Piano 2</a></li>
  <li class=""><a href="#" data-src="/dance_music/34 - Solo Piano 3.mp3">Solo Piano 3</a></li>
  <li class=""><a href="#" data-src="/dance_music/35 - Solo Piano 4.mp3">Solo Piano 4</a></li>
</ol>