<h1>Dance Style Demos</h1>

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<!-- <label class="audioTitle">02 - Urban-HipHop 2</label>
<audio src="/dance_music/02 - Urban-HipHop 2.mp3" preload="auto" /> -->

<!-- <label class="audioTitle">03 - Urban-HipHop 3</label>
<audio src="/dance_music/03 - Urban-HipHop 3.mp3" preload="auto" />

<label class="audioTitle">04 - Urban-HipHop 4</label>
<audio src="/dance_music/04 - Urban-HipHop 4.mp3" preload="auto" />

<label class="audioTitle">05 - Percussive 1</label>
<audio src="/dance_music/05 - Percussive 1.mp3" preload="auto" /> -->

<!-- <label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />

<label class="audioTitle">01 - Urban-HipHop 1</label>
<audio src="/dance_music/01 - Urban-HipHop 1.mp3" preload="auto" />
 -->