<style>
li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
</style>
<h1>Dance Style Demos</h1>
      <div class="audiojs" classname="audiojs" id="audiojs_wrapper0"><audio preload="" src="/dance_music/01 - Urban-HipHop 1.mp3"></audio>          <div class="play-pause">             <p class="play"></p>             <p class="pause"></p>             <p class="loading"></p>             <p class="error"></p>           </div>           <div class="scrubber">             <div class="progress" style="width: 234.61522439043085px;"></div>             <div class="loaded" style="width: 280px;"></div>           </div>           <div class="time">             <em class="played">03:07</em>/<strong class="duration">03:43</strong>           </div>           <div class="error-message"></div></div>
      <ol class="playlist">
        <li class="playing"><a href="#" data-src="/dance_music/01 - Urban-HipHop 1.mp3">Urban-HipHop 1</a></li>
        <li class=""><a href="#" data-src="/dance_music/02 - Urban-HipHop 2.mp3">Urban-HipHop 2</a></li>
        <li class=""><a href="#" data-src="/dance_music/03 - Urban-HipHop 3.mp3">Urban-HipHop 3</a></li>
        <li class=""><a href="#" data-src="/dance_music/04 - Urban-HipHop 4.mp3">Urban-HipHop 4</a></li>
      </ol>