<h1>About First Key Creations</h1>
<article class="withAside">
  <p>
  First Keyb Creations is a custom music company dedicated to serving its clients and customers with respect, understanding, and most of all … original music!
  </p>
  <p>
  First Keyb Creations got its start in 2005, when a rough opening season for Artistic Sports Academy Plus’s Casey Rohrbaugh was at a gymnastics competition. Her CD malfunctioned in the middle of her floor routine, and both she and her coach took it as a sign that it was time for something fresh. Justin, who was also coaching at Artistic Sports, was approached by the head coach and owner, Barry Mattern, who asked him how long it would take to write Casey a new piece of music. Twenty-seven hours later, Casey started learning her new routine to “Good Riddance,” an apropos title for the times Casey was leaving behind. Casey finished the season strong, making it all the way to USAG Junior Olympic Nationals along with numerous college scholarship offers.
  </p>
  <p>
  The fresh new sound and inspiration brought on by that first piece of music sent a wave of energetic interest through ASAP. Before long, First Keyb Creations was born, and Justin was writing and arranging 3 – 10 pieces each season for gymnasts who were getting new routines. When Justin’s music was heard at competitions, there were inquiries from other gyms as to where it came from. When other area gyms caught on, word quickly got out, and Justin was writing and arranging routine music for gymnasts all across the states.
  </p>
  <p>
  Eventually, the concept of original music seeped into a few area dance studios as well and continues to grow and develop as a premier source for original innovative music solutions.
  </p>
</article>
<aside>
  <ul class="subnav">
    <li><%= link_to_unless_current "About First Key", firstkey_path %></li>
    <li><%= link_to_unless_current "About Me", about_path %></li>
    <li><%= link_to_unless_current "Request's & Comissions", requests_path %></li>
  </ul>
</aside>
