<style>
li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
</style>
<h1>Gymnastics Floor Music</h1>
<img class="box-art" alt="Gymnastics Music Cover Art" src="/images/gymnastics_music_cover.jpg" />

<audio preload="" src="/gymnastics_music/01 - Demo CD Intro Track.mp3"></audio>

<ol class="playlist">
  <li class="playing"><a href="#" data-src="/gymnastics_music/01 - Demo CD Intro Track.mp3">Demo CD Intro Track</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/02 - Light_it_up_(demo).mp3">Light it Up (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/03 - Bollywood 2 (demo).mp3">Bollywood 2 (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/04 - Digital Freshmaker (demo).mp3">Digital Freshmaker (demo)</a></li>

  <li class=""><a href="#" data-src="/gymnastics_music/05 - Brown Nosin' (demo).mp3">Brown Nosin' (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/06 - High Voltage Venir (demo).mp3">High Voltage Venir (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/07 - A Tune for the Looney Town (demo).mp3">A Tune for the Looney Town (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/08 - Beautiful Determination (demo).mp3">Beautiful Determination (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/09 - Drummer's Dervish (demo).mp3">Drummer's Dervish (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/10 - Expressly Written (demo).mp3">Expressly Written (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/11 - Get Loose (demo).mp3">Get Loose (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/12 - Taiko & Modern Artistry (demo).mp3">Taiko & Modern Artistry (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/13 - The Final Dance (demo).mp3">The Final Dance (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/14 - Dangerous Drums (demo).mp3">Dangerous Drums (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/15 - Vengeance Has Means (demo).mp3">Vengeance Has Means (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/16 - What's in a Name (demo).mp3">What's in a Name (demo)</a></li>
  <li class=""><a href="#" data-src="/gymnastics_music/17 - Press On (demo).mp3">Press On (demo)</a></li>
</ol>