<h1>
  Welcome to <span class="logo-font">First Key<sup>b</sup> Creations</span>!
</h1>

<h2 class="center"><em>Everything</em> you need to have music,</h2>
<h2 class="center"><em>exactly</em> the way you want,</h2>
<h2 class="center"><em>created</em> just for you!</h2>
<div class="main-image">
  <img src="images/studio_collage.jpg" alt="First Key Creations"/>
</div>

<div class="widget_iframe iframe" style="height:185px;border:0;">
  <iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_2884136?widget_id=54&pwc[design]=customized&pwc[background_color]=%23007a90&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no">
  </iframe>
</div>

  <p class="center">"Because the <span class="logo-font">First Key<sup>b</sup></span> to successful business is giving the customer exactly what they want."</p>
