<h1>
  Welcome to <span class="logo-font">First Key<sup>b</sup> Creations</span>!
</h1>

<h2 class="center"><em>Everything</em> you need to have music,</h2>
<h2 class="center"><em>exactly</em> the way you want,</h2>
<h2 class="center"><em>created</em> just for you!</h2>
<div class="main-image">
  <img src="images/homepage_photo.jpg" alt="First Key Creations"/>
</div>

<div class="widget_iframe iframe" style="height:185px;border:0;">
  <iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_2884136?widget_id=54&pwc[design]=customized&pwc[background_color]=%23007a90&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no">
  </iframe>
<!--   <div class="footer_branding" style="margin-top:-5px;font-size:10px;font-family:Arial;">
    <center>
      <a href="http://www.reverbnation.com/band-promotion/widgets?utm_campaign=a_features_widgets&utm_medium=widget&utm_source=HTML5_Fan_Collector&utm_content=widgetfooter_Free music player widget at ReverbNation.com" target="_blank" style="text-decoration:none;color:#444;">
        Free music player widget at ReverbNation.com</a>
      </center>
    </div> -->
</div>

  <p class="center">"Because the <span class="logo-font">First Key<sup>b</sup></span> to successful business is giving the customer exactly what they want."</p>
<!-- <p class="note">
<strong>Disclaimer:</strong> As a small company, service is provided on a first-come, first-serve basis. We try to meet all of our deadlines and work for as many people as we can. Unfortunately we cannot guarantee your spot until we have processed your request. Project time frames vary due to size and our volume of requests fluxuates with various seasons.
</p>
-->
