<h1>Custom Music</h1>

<h2>Check out some samples of our custom music!</h2>

<iframe class="custonMusicVideo" width="560" height="315" src="http://www.youtube.com/embed/ZFpBFXD-E3k" frameborder="0" allowfullscreen></iframe>

<div class="musicNav">
  <%= link_to "Gymnastics Floor Music Demos", gymnasticsmusic_path  %>
  <%= link_to "Buy Gymnastics Floor Music", buygymnasticsmusic_path  %>
  <%= link_to "Dance Style Demos", dancemusic_path  %>
  <%= link_to "Get Custom Music", musicform_path  %>
</div>
