<h1>Personal Projects</h1>

<!-- <div class="coming-soon"><span>(Coming Soon)</span></div> -->

<h2 style="line-height:125%">Listen to Justin's music and show your support by purchasing your favorite tracks and albums here.</h2>
<!-- <div class="main-image">
  <a href="http://www.1stKeyCreations.bandcamp.com" target="_blank">
    <img src="images/justins_music_button.jpg" alt="Justin's Music Button" />
  </a>
</div> -->

<div class="bandcamp-player">
  <h3 class="album-title">
    <a href="http://1stkeycreations.bandcamp.com/album/send-judah-first" target="_blank">Send Judah First</a>
  </h3>
  <!-- ADD WHEN WHOLE ALBUM IS FOR SALE -->
  <!-- <div class="buy-album"><a href="#">buy whole album</a></div> -->
  <div class="album-art"><img src="http://f0.bcbits.com/z/20/70/2070505174-1.jpg"></div>
  <div class="track-list">
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=1538042394/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/i-will-rejoice">I Will Rejoice! by Music &amp; Lyrics by Justin Rayna</a></iframe>
    <br>
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=2092073171/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/brilliant-high">Brilliant High by Music &amp; Lyrics by Justin Rayna</a></iframe>
  </div>
</div>

<div class="bandcamp-player">
  <h3 class="album-title">
    <a href="http://1stkeycreations.bandcamp.com/album/soliloquy" target="_blank">Soliloquy</a>
  </h3>
  <div class="album-art"><img src="http://f0.bcbits.com/z/55/42/554261065-1.jpg"></div>
  <div class="track-list">
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=124495696/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/soliloquy-piano-solo">Soliloquy (Piano Solo) by Justin Rayna</a></iframe>
  </div>
</div>

<div class="bandcamp-player">
  <h3 class="album-title">
    <a href="http://1stkeycreations.bandcamp.com/album/songs-for-show-1-inertia" target="_blank">SONGS FOR SHOW 1 - "Inertia"</a>
  </h3>
  <div class="album-art"><img src="http://f0.bcbits.com/z/24/93/2493774542-1.jpg"></div>
  <div class="track-list">
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=1670921654/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/may-we-present">May We Present! by Justin Rayna (composer)</a></iframe>
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=873804066/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/electronique">Electronique by Justin Rayna (composer)</a></iframe>
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=971057502/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/cerulean-pools">Cerulean Pools by Justin Rayna (composer)</a></iframe>
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=2592063517/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/head-to-head-sports-theme">Head to Head (Sports Theme) by Justin Rayna (composer)</a></iframe>
    <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=3700566460/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://1stkeycreations.bandcamp.com/track/chronister">Chronister by Justin Rayna (composer)</a></iframe>

  </div>
</div>

<h3><a href="http://www.ReverbNation.com/FirstKeyCreations" target="_blank">First Key Creations on ReverbNation</a></h3>