<h1>Request's &amp; Comissions</h1>
<article class="withAside">
<div class="outline">
  <ol class="outline">
    <li>Plays and Musicals (by company)</li>
    <ol>
      <li><a href="http://www.art4abolition.org" target="_blank">Art 4 Abolition</a></li>
      <ol>
        <li>2012</li>
        <ol>
          <li>Themes and Intermittent music for the play “Unchained”</li>
        </ol>
      </ol>
    </ol>
    <li>Gymnastics Floor Music (by gym)</li>
    <ol>
      <li><a href="http://lsu.edu/" target="_blank">LSU</a></li>
      <ol>
        <li>2011</li>
        <ol>
          <li>Maliah Mathis – “Dangerous Drums”</li>
        </ol>
      </ol>
      <li><a href="http://www.artisticsportsacademyplus.com/" target="_blank">Artistic Sports Academy Plus</a></li>
      <ol>
        <li>2011</li>
        <li>2010</li>
        <ol>
          <il>Lia Breeden – “Light It Up”</il>
        </ol>
        <li>2009</li>
        <ol>
          <li>Lia Breeden – “Press On”</li>
          <li>Taylor Rohrbaugh – “Brown Nosin’</li>
          <li>Samantha Sword – “Bollywood”</li>
        </ol>
        <li>2008</li>
        <ol>
          <li>Lauren Breeden – “Mackie Shake”</li>
          <li>Elelona Hodge – “Get Loose”</li>
          <li>Cheyenne Keller – “Expressly Written”</li>
          <li>Michelle Mignogna – “What’s in a Name?”</li>
        </ol>
        <li>2007</li>
        <ol>
          <li>Lia Breeden – “Beautiful Determination”</li>
          <li>Lexy Marie Mattern – “The Final Dance”</li>
          <li>Samantha Sword – “Taiko &amp; Modern Artistry”</li>
        </ol>
        <li>2006</li>
        <ol>
          <li>Brooke Barr – “G-Force Grunge”</li>
          <li>Lauren Breeden – “Digital Freshmaker”</li>
          <li>Carrie Califano – “Tango Bolero”</li>
          <li>Megan Chronister – “Chronister”</li>
          <li>Kaila Hewitt – “Drummer’s Dervish”</li>
          <li>Lexy Marie Mattern – “A Li’l Party”</li>
          <li>Michelle Mignogna – Vengeance Has Means"</li>
          <li>Rachel Steele – “Swing To”</li>
        </ol>
        <li>2005</li>
        <ol>
          <li>Casey Rohrbaugh – “Good Riddance”</li>
        </ol>
      </ol>
    </ol>
    <li>Film</li>
    <ol>
      <li><a href="www.usc.edu">University of Southern California</a></li>
        <ol>
          <li>2006</li>
          <ol>
            <li>“Moi et Moi” (Chelsea Meyer)</li>
          </ol>
        </ol>
      </ol>
    <li>Dance Studios</li>
    <ol>
      <li><a href="www.encoredance.net">Encore Dance Center</a></li>
        <ol>
          <li>2005</li>
          <ol>
            <li>“The Lifeline”</li>
          </ol>
        </ol>
      </ol>

  </ol>
</div>
</article>
<%= render "our_story_subnav" %>
