<h1>Testimonials</h1>

<h2>Lauren Breeden<sub>(Artistic Sports Academy Plus)</sub></h2>
<p><img class="content-image" src="images/lauren_breeden.jpg" alt="Lauren Breeden" />I was a competitive gymnast. Being a gymnast comes with important details. On the floor exercise, it is important that your piece of music is in sync with your personality so you perform to the best of your ability. Justin composed two of my floor music selections. Both times, we worked together to make sure the tempo and style of the music fit the tumbling and dance I was able to execute. But that’s not all. Another key element in
gymnastics is to stand out. You often hear the phrase, “make the judges look.” Justin’s music did just that; it
made the judges look. It was original, captivating, and fit me to a tee. Justin composed music not only for me
but also for my teammates, and his music would always make us stand out from our competition.</p>
<p><img class="content-image-right" src="images/lauren_breeden2.jpg" alt="Lauren Breeden" />If it were not
for Justin and his hard work, I would have been stuck with the same old gymnastics music sample CD’s from
which everyone selects their music. If you need a beat that describes you, catches others’ attention, and is
composed by a very understanding individual, Justin’s music is for you! I was pleased with all the final
products he created for me, and Justin will be willing to work with you until you are pleased. Receiving a music
piece from him was always a pleasurable experience and one I will always be thankful for. I highly recommend
the musical styling and creations of Justin Rayna.</p>

<h2>Shirley (mom) & Samantha Sword<sub>(Artistic Sports Academy Plus)</sub></h2>
<p><img class="content-image" src="images/sword.jpg" alt="Samantha Sword" />Justin is an amazing talent! We had the
privilege of having Justin as a coach at our
gymnastics academy for a short period in
the mid-late 2000’s. As we got to know him,
it became apparent that he was not only a
superb athlete, but an extremely talented
musician and poet. As we came upon the
2007-2008 competitive season, my daughter,
Samantha needed new floor music. I learned
that Justin had composed floor music for some other athletes at our gym, so I
approached him. Sammy didn’t really know what she wanted.</p>

<p><img class="content-image-right" src="images/sword2.jpg" alt="Samantha Sword" />After just a few minutes of talking to Justin, he was able to create the mood,
the feel, the essence of a really dynamic piece of floor music for a
gymnast. When Justin wrote “Taiko & Modern Artistry” for Sammy in late
2007, I remember telling him that I wanted something that would highlight her
Asian heritage… something slightly exotic that had breathing space in the
middle for her to catch her breath. He simply asked me what instruments
should be included, and then he blended it all together. The music felt like it told
a story as I listened to it. It was amazing! And, it only took him a couple of
hours to come back to me with a draft . . . . . not days . . . . . HOURS!</p>
<p>In 2009, I approached him about composing the
last piece Sammy would use in her gymnastics
career. By that time, she had discovered a love
for hip-hop music, but wanted to blend in a bit of
a Bollywood feel to it, so that it could showcase
choreography as well as tumbling. The piece
Justin created was perfect, and enabled Sammy
to qualify to Nationals in her last year of
competitive gymnastics. She missed medaling on
floor at Nationals by .075!! Her music was
unique - no one else had anything like it because
it was an original composition from Justin. She
was more invested in her music, more
comfortable performing to it, and it was memorable!</p>

<h2>Carrie Califano<sub>(Artistic Sports Academy Plus)</sub></h2>
<p><img class="content-image" src="images/carrie_califano.jpg" alt="Carrie Califano" /><img class="content-image-right" src="images/carrie_califano2.jpg" alt="Carrie Califano" />Justin was able to really capture my own style and taste to create a personalized piece of floor music
for me. His musical abilities were extremely impressive! Not only did I receive compliments from
judges and teammates on my unique floor music, but I loved the piece Justin created for me so much
that I used it for many years throughout high school and college competitions. "Tango Balero" was a
refreshing and innovative twist on the very popular flamenco style used by many gymnasts!</p>
